[Unit]
Description=Glances
Documentation=man:glances(1)
Documentation=https://github.com/nicolargo/glances
After=network.target

[Service]
ExecStart=/usr/bin/glances {{ glances_service_params | join(' ') }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
